- sort
- sorted
- .sort_index
- .sort_value

In [3]:
#针对list的排序，Python提供有全局的sorted函数以及list自身的sort函数
x=[97,93,85,74,32,100,99,67]

sorted(x)#默认升序
sorted(x,reverse=True)#指定降序

[100, 99, 97, 93, 85, 74, 67, 32]

In [13]:
x.sort() #先排序，后打印
x

[32, 67, 74, 85, 93, 97, 99, 100]

In [15]:
x.sort(reverse=True)
x

[100, 99, 97, 93, 85, 74, 67, 32]

In [17]:
#字典排序
mydata={"A":97,"B":93,"C":85,"D":74,"E":32,"F":100,"G":99,"H":67}
sorted(mydata.keys())
sorted(mydata.keys(),reverse=True)

['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [19]:
sorted(mydata.items(),key=lambda item:item[1])#根据值字段升序排列

sorted(mydata.items(),key=lambda item:item[1],reverse=True)

[('F', 100),
 ('G', 99),
 ('A', 97),
 ('B', 93),
 ('C', 85),
 ('D', 74),
 ('H', 67),
 ('E', 32)]

In [21]:
#数据框排序：
import pandas as pd
import numpy as np

df1=pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006,1007,1008],
                 "gender":["male","female","male","female","male","female","male","female"],
                 "pay":["Y","N","Y","Y","N","Y","N","Y"],
                 "m-point":[10,12,20,40,40,40,30,20]})
df1

   gender    id  m-point pay
0    male  1001       10   Y
1  female  1002       12   N
2    male  1003       20   Y
3  female  1004       40   Y
4    male  1005       40   N
5  female  1006       40   Y
6    male  1007       30   N
7  female  1008       20   Y

In [25]:
df1.sort_values(["id"]) #使用值进行排序

df1.sort_values(["id"],ascending=False) #降序排列

df1.sort_values(["pay","m-point"])#排序多个字段

   gender    id  m-point pay
1  female  1002       12   N
6    male  1007       30   N
4    male  1005       40   N
0    male  1001       10   Y
2    male  1003       20   Y
7  female  1008       20   Y
3  female  1004       40   Y
5  female  1006       40   Y

In [26]:
#索引排序
df1=df1.set_index("id") #设置索引列

df1.sort_index() #使用索引进行排序

df1.sort_index(ascending=False) #使用索引列降序排列

      gender  m-point pay
id
1008  female       20   Y
1007    male       30   N
1006  female       40   Y
1005    male       40   N
1004  female       40   Y
1003    male       20   Y
1002  female       12   N
1001    male       10   Y