- 字符串连接符："+"
- 字符串合并函数：join


- 字符串拆分：split

In [5]:
import random
import pandas as pd

myyear=random.sample(list(range(2000,2017)),10)
myyear

mymonth=["%02d" % i for i in random.sample(list(range(1,12)),10)]
mymonth

myday=["%02d" % i for i in random.sample(list(range(1,31)),10)]
myday

['03', '26', '12', '09', '08', '30', '10', '23', '07', '04']

In [6]:
mydate=[str(i)+"-"+j+"-"+k for i,j,k in zip(myyear,mymonth,myday)]
mydate

['2012-03-03',
 '2004-08-26',
 '2000-09-12',
 '2011-04-09',
 '2002-11-08',
 '2001-07-30',
 '2007-02-10',
 '2016-01-23',
 '2014-05-07',
 '2003-06-04']

In [7]:
mydate=["-".join([str(i),j,k]) for i,j,k in zip(myyear,mymonth,myday)]
mydate

['2012-03-03',
 '2004-08-26',
 '2000-09-12',
 '2011-04-09',
 '2002-11-08',
 '2001-07-30',
 '2007-02-10',
 '2016-01-23',
 '2014-05-07',
 '2003-06-04']

In [14]:
#字符串拆分：
#方法一：列表推导式
myyear1=[i.split("-")[0] for i in mydate]
myyear1

mymonth1=[i.split("-")[1] for i in mydate]
mymonth1

myday1=[i.split("-")[2] for i in mydate]
myday1

['03', '26', '12', '09', '08', '30', '10', '23', '07', '04']

In [17]:
#方法二：使用字典
mydata=pd.DataFrame({"date":mydate})
mydata

mydata["date"].str.split("-",expand=True)

      0   1   2
0  2012  03  03
1  2004  08  26
2  2000  09  12
3  2011  04  09
4  2002  11  08
5  2001  07  30
6  2007  02  10
7  2016  01  23
8  2014  05  07
9  2003  06  04

In [21]:
myyear2=mydata["date"].str.split("-",expand=True)[0]
print(myyear2)

mymonth2=mydata["date"].str.split("-",expand=True)[1]
print(mymonth2)

myday2=mydata["date"].str.split("-",expand=True)[2]
print(myday2)

0    2012
1    2004
2    2000
3    2011
4    2002
5    2001
6    2007
7    2016
8    2014
9    2003
Name: 0, dtype: object
0    03
1    08
2    09
3    04
4    11
5    07
6    02
7    01
8    05
9    06
Name: 1, dtype: object
0    03
1    26
2    12
3    09
4    08
5    30
6    10
7    23
8    07
9    04
Name: 2, dtype: object