- groupby
- pivot.table

In [1]:
import pandas as pd
import numpy as np

iris=pd.read_csv("C:/Users/Administrator/Desktop/data.csv",sep=",")

iris.head()

iris.describe()

       Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    75.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      1.000000      4.300000     2.000000      1.000000     0.100000
25%     38.250000      5.100000     2.800000      1.600000     0.300000
50%     75.500000      5.800000     3.000000      4.350000     1.300000
75%    112.750000      6.400000     3.300000      5.100000     1.800000
max    150.000000      7.900000     4.400000      6.900000     2.500000

In [3]:
#使用pandas中的groupby方法可以很快捷的进行分组数据聚合

iris.groupby("Species")["Sepal.Length"].mean()

Species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: Sepal.Length, dtype: float64

In [4]:
iris.groupby("Species")["Sepal.Length"].sum()

Species
setosa        250.3
versicolor    296.8
virginica     329.4
Name: Sepal.Length, dtype: float64

In [5]:
iris.groupby("Species")["Sepal.Length"].agg([len,np.sum,np.mean])

             len    sum   mean
Species
setosa      50.0  250.3  5.006
versicolor  50.0  296.8  5.936
virginica   50.0  329.4  6.588

In [8]:
iris.groupby("Species")["Sepal.Length"].agg({"count":len,"sum":np.sum,"mean":np.mean})
#对输出进行自定义命名

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

            count    sum   mean
Species
setosa       50.0  250.3  5.006
versicolor   50.0  296.8  5.936
virginica    50.0  329.4  6.588

In [12]:
#只聚合一个变量可以直接使用对应聚合函数，需要聚合多个变量则可以借助agg函数完成
pd.pivot_table(iris,index=["Species"],values=["Sepal.Length"],aggfunc=[len,np.sum,np.mean],margins=False)
pd.pivot_table(iris,index=["Species"],values=["Sepal.Length"],aggfunc=[len,np.sum,np.mean],margins=True)

                    len          sum         mean
           Sepal.Length Sepal.Length Sepal.Length
Species
setosa             50.0        250.3     5.006000
versicolor         50.0        296.8     5.936000
virginica          50.0        329.4     6.588000
All               150.0        876.5     5.843333