In [1]:
import pandas as pd
import numpy as np

diamonds=pd.read_csv("C:/Users/Administrator/Desktop/data.csv")

diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
Unnamed: 0    53940 non-null int64
carat         53940 non-null float64
cut           53940 non-null object
color         53940 non-null object
clarity       53940 non-null object
depth         53940 non-null float64
table         53940 non-null float64
price         53940 non-null int64
x             53940 non-null float64
y             53940 non-null float64
z             53940 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [6]:
mydata=diamonds[["carat","depth","table","price"]]
mydata

mydata.info()

#直接给出数据框的相关系数矩阵
mydata.corr()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 4 columns):
carat    53940 non-null float64
depth    53940 non-null float64
table    53940 non-null float64
price    53940 non-null int64
dtypes: float64(3), int64(1)
memory usage: 1.6 MB

          carat     depth     table     price
carat  1.000000  0.028224  0.181618  0.921591
depth  0.028224  1.000000 -0.295779 -0.010647
table  0.181618 -0.295779  1.000000  0.127134
price  0.921591 -0.010647  0.127134  1.000000

In [7]:
#给出carat变量与其他变量之间的相关系数
mydata.corr()["carat"]

carat    1.000000
depth    0.028224
table    0.181618
price    0.921591
Name: carat, dtype: float64

In [8]:
#计算“carat”与“depth”之间的相关系数
mydata["carat"].corr(mydata["depth"])

0.028224314279048215

In [12]:
#与R语言中一样，pandas内置的相关系数算法也是针对数值型变量的pearson法
mydata.corr(method="pearson")

mydata.corr(method="pearson")["carat"]

mydata["carat"].corr(mydata["depth"],method="pearson")

0.028224314279048215