In [1]:
import pandas as pd
import numpy as np
import string

In [4]:
#当利用pandas生成序列时，可以在序列函数内的dtype参数设定因子变量类型
s=pd.Series(["A","B","C","D"],dtype="category")
print(s)

0    A
1    B
2    C
3    D
dtype: category
Categories (4, object): [A, B, C, D]

In [6]:
#生成数据框时，也可以直接生成因子变量
df=pd.DataFrame({"A":["a","b","c","a"]})
df["B"]=df["A"].astype("category")
df

   A  B
0  a  a
1  b  b
2  c  c
3  a  a

In [16]:
#除了直接在生成序列或者数据框时生成因子变量，也可以通过一个特殊函数pd.Categrouical完成在序列和数据框中创建因子变量

s=pd.Series(pd.Categorical(["a","b","c","a"],categories=["a","b","c"],ordered=False))
s

df=pd.DataFrame({"A":["a","b","c","a"]})

df["B"]=pd.Series(pd.Categorical(["a","b","c","a"],categories=["a","b","c"],ordered=False))
df

   A  B
0  a  a
1  b  b
2  c  c
3  a  a

In [17]:
#无论是序列中还是数据框中的因子变量生成之后，都可以通过以下属性查看其具体的类型、
#因子类别、以及是否含有顺序

s_cat.dypes
s_cat.cat.categories
s_cat.cat.ordered

NameError: name 's_cat' is not defined

In [27]:
#一种比较迂回的方法是，先生成普通序列，然后通过设定序列类型完成因子变量的转化
#而要舍弃因子变量，还原成普通的文本序列，则同样只需要在其astype中进行格式设定

s=pd.Series(["a","b","c","a"])

s2=s.astype("category",categories=["a","b","c"],ordered=True)

# s2 #category

s2.astype(str) #object

0    a
1    b
2    c
3    a
dtype: object

In [32]:
#如何在数据框中分割数值类型变量为因子变量

df=pd.DataFrame({"value":np.random.randint(0,100,20)})

labels=["{0}-{1}".format(i,i+9) for i in range(0,100,10)]
print(labels)

df["group"]=pd.cut(df.value,range(0,105,10),right=False,labels=labels)
df

#df.value代表待分割的变量，第二项是bins，可以是一个list(作为分割点)，
#也可以是一个整数(作为分割带项数)，right控制带宽是左开右闭还是左闭右开，
#labels设定输出显示标签，include_lowest= 控制是否包含边界点

['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89', '90-99']

    value  group
0      60  60-69
1      43  40-49
2      64  60-69
3      73  70-79
4      53  50-59
5       2    0-9
6      34  30-39
7      35  30-39
8      42  40-49
9       4    0-9
10     22  20-29
11     96  90-99
12     41  40-49
13     25  20-29
14     30  30-39
15     77  70-79
16     51  50-59
17     77  70-79
18     54  50-59
19     93  90-99