In [1]:
#列表去重
#set(将列表元组化过滤重复数据)
M=[1,4,3,6,5,4,3,2,7,8]

list(set(M))

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
#数据框去重
import pandas as pd
import numpy as np

mydata=pd.DataFrame({
    "A":["A","B","C","D","B","C"],
    "B":[43,32,56,67,32,56]
})

mydata.drop_duplicates()

   A   B
0  A  43
1  B  32
2  C  56
3  D  67

In [8]:
#缺失值处理：nansum/nanmean/nanmin/nanmax
val=np.array([5,np.nan,8,9,np.nan])

np.nansum(val)

np.nanmean(val)

np.nanmin(val)

np.nanmax(val)

9.0

In [12]:
#检测缺失值
myseries=pd.Series(["A","B",np.nan,"C"])

mydata=pd.DataFrame({
    "A":["A","B","C","D","E","F"],
    "B":[43,np.nan,56,67,np.nan,56]
})

myseries

myseries.isnull()

mydata

mydata.isnull()

       A      B
0  False  False
1  False   True
2  False  False
3  False  False
4  False   True
5  False  False

In [14]:
#返回非缺失值
myseries.notnull()

mydata.notnull()

      A      B
0  True   True
1  True  False
2  True   True
3  True   True
4  True  False
5  True   True

In [16]:
#过滤缺失值
myseries.dropna()

mydata.dropna()

   A     B
0  A  43.0
2  C  56.0
3  D  67.0
5  F  56.0

In [20]:
#针对数据框而言，默认情况下，dropna丢弃含有缺失值的行
mydata.dropna(how="all",axis=1)

   A     B
0  A  43.0
1  B   NaN
2  C  56.0
3  D  67.0
4  E   NaN
5  F  56.0

### 缺失值填充
fillna：
- value：要插补的值
- method：缺失值插补方法

In [22]:
myseries.fillna(0)

mydata.fillna(0)

   A     B
0  A  43.0
1  B   0.0
2  C  56.0
3  D  67.0
4  E   0.0
5  F  56.0