- strsplit：针对字符串向量拆分
- str_split：针对字符串向量拆分，stringr包内函数
- paste：针对向量合并

- unite：合并数据框中的某几列
- separate：将数据框中某一列按照某种模式拆分成几列

In [3]:
library(dplyr)
library(stringr)
library(tidyr)

myyear<-sprintf("20%02d",sample(0:17,10))
myyear

mymonth<-sprintf("%02d",sample(0:12,10))
mymonth

myday<-sprintf("%02d",sample(0:31,10))
myday

 [1] "2017" "2000" "2012" "2011" "2009" "2013" "2007" "2014" "2015" "2004"

 [1] "06" "03" "01" "05" "11" "10" "04" "02" "08" "07"

 [1] "13" "00" "27" "21" "10" "19" "14" "08" "24" "22"

In [5]:
full<-paste(myyear,mymonth,myday,sep="-")
full

 [1] "2017-06-13" "2000-03-00" "2012-01-27" "2011-05-21" "2009-11-10"
 [6] "2013-10-19" "2007-04-14" "2014-02-08" "2015-08-24" "2004-07-22"

In [8]:
myyear1=mymonth1=myday1=NULL

for(i in 1:length(full)){
    myyear1[i]<-strsplit(full[i],"-")[[1]][1]
    mymonth1[i]<-strsplit(full[i],"-")[[1]][2]
    myday1[i]<-strsplit(full[i],"-")[[1]][3]
}

myyear1
mymonth1
myday1

 [1] "2017" "2000" "2012" "2011" "2009" "2013" "2007" "2014" "2015" "2004"

 [1] "06" "03" "01" "05" "11" "10" "04" "02" "08" "07"

 [1] "13" "00" "27" "21" "10" "19" "14" "08" "24" "22"

In [9]:
#str_split用法相同
myyear1=mymonth1=myday1=NULL

for(i in 1:length(full)){
    myyear1[i]<-str_split(full[i],"-")[[1]][1]
    mymonth1[i]<-str_split(full[i],"-")[[1]][2]
    myday1[i]<-str_split(full[i],"-")[[1]][3]
}

myyear1
mymonth1
myday1

 [1] "2017" "2000" "2012" "2011" "2009" "2013" "2007" "2014" "2015" "2004"

 [1] "06" "03" "01" "05" "11" "10" "04" "02" "08" "07"

 [1] "13" "00" "27" "21" "10" "19" "14" "08" "24" "22"

In [11]:
mydata<-data.frame(myyear,mymonth,myday)
mydata

   myyear mymonth myday
1  2017   06      13
2  2000   03      00
3  2012   01      27
4  2011   05      21
5  2009   11      10
6  2013   10      19
7  2007   04      14
8  2014   02      08
9  2015   08      24
10 2004   07      22

### unit和separate函数是配对函数，
第一个参数是要操作的数据框名称，

第二个参数是合并后的新列名（或待拆分的列名），

第三个是待合并的列名向量（拆分后的新增列名），

sep是拆分（合并）依据，

remove则控制输出的数据框是否包含原始向量

In [13]:
mydata1<-unite(mydata,col="datetime",c("myyear","mymonth","myday"),sep="-",remove=FALSE)
mydata1

   datetime   myyear mymonth myday
1  2017-06-13 2017   06      13
2  2000-03-00 2000   03      00
3  2012-01-27 2012   01      27
4  2011-05-21 2011   05      21
5  2009-11-10 2009   11      10
6  2013-10-19 2013   10      19
7  2007-04-14 2007   04      14
8  2014-02-08 2014   02      08
9  2015-08-24 2015   08      24
10 2004-07-22 2004   07      22

In [16]:
mydata2<-separate(mydata1,col="datetime",c("myyear1","mymonth1","myday"),sep="-",remove=FALSE)
mydata2

   datetime   myyear1 mymonth1 myday myyear mymonth myday
1  2017-06-13 2017    06       13    2017   06      13
2  2000-03-00 2000    03       00    2000   03      00
3  2012-01-27 2012    01       27    2012   01      27
4  2011-05-21 2011    05       21    2011   05      21
5  2009-11-10 2009    11       10    2009   11      10
6  2013-10-19 2013    10       19    2013   10      19
7  2007-04-14 2007    04       14    2007   04      14
8  2014-02-08 2014    02       08    2014   02      08
9  2015-08-24 2015    08       24    2015   08      24
10 2004-07-22 2004    07       22    2004   07      22