### 针对向量
- sort
- order
- rank

### 针对数据框
- arrange

In [3]:
x<-c(97,93,85,74,32,100,99,67)

sort(x,decreasing=F) #默认是升序，decreasing=FALSE

sort(x,decreasing=T)

[1]  32  67  74  85  93  97  99 100

[1] 100  99  97  93  85  74  67  32

In [5]:
order(x,decreasing=F) #（排好后），变量由小到大在原始数据中的位次（默认升序）

order(x,decreasing=T)

[1] 5 8 4 3 2 1 7 6

[1] 6 7 1 2 3 4 8 5

In [6]:
rank(x) #（不排序），返回向量的秩，即对应元素在原始向量中的排名

[1] 6 5 4 3 1 8 7 2

In [8]:
(mydata<-data.frame(name=LETTERS[1:10],class=sample(letters[1:4],10,
    replace=TRUE),value=runif(10,0,5)))

   name class value
1  A    b     4.5294334
2  B    d     1.2457679
3  C    a     2.3161248
4  D    c     0.6448024
5  E    b     4.9784493
6  F    c     4.4243614
7  G    d     2.9567734
8  H    a     2.1306743
9  I    b     1.1427236
10 J    b     4.6067167

In [10]:
mydata[order(mydata$value),]

mydata[order(mydata$value,decreasing=T),]

#以上这种能够方式通过基于数据框自身的规则，完成了排序工作（实际上是一种
#布尔索引），但是不够优雅，谢了繁琐的变量名，而且只能根据一个字段来排序

   name class value
4  D    c     0.6448024
9  I    b     1.1427236
2  B    d     1.2457679
8  H    a     2.1306743
3  C    a     2.3161248
7  G    d     2.9567734
6  F    c     4.4243614
1  A    b     4.5294334
10 J    b     4.6067167
5  E    b     4.9784493

   name class value
5  E    b     4.9784493
10 J    b     4.6067167
1  A    b     4.5294334
6  F    c     4.4243614
7  G    d     2.9567734
3  C    a     2.3161248
8  H    a     2.1306743
2  B    d     1.2457679
9  I    b     1.1427236
4  D    c     0.6448024

In [14]:
library(dplyr)

mydata %>% plyr::arrange(class,value)

mydata %>% plyr::arrange(class,-value) #相同class时，按value倒序

#arrange函数不仅可以实现多变量规则排序，而且可以仅以负号指定降序，
#语法简洁，功能强大，其中多变量时，一般是分类变量在前，连续变量在后，
#粒度粗的维度排在最前面，分类变量排序粒度依次递减，最后是连续变量

   name class value
1  H    a     2.1306743
2  C    a     2.3161248
3  I    b     1.1427236
4  A    b     4.5294334
5  J    b     4.6067167
6  E    b     4.9784493
7  D    c     0.6448024
8  F    c     4.4243614
9  B    d     1.2457679
10 G    d     2.9567734

   name class value
1  C    a     2.3161248
2  H    a     2.1306743
3  E    b     4.9784493
4  J    b     4.6067167
5  A    b     4.5294334
6  I    b     1.1427236
7  F    c     4.4243614
8  D    c     0.6448024
9  G    d     2.9567734
10 B    d     1.2457679