- unique
- distinct
- intersect
- union
- duplicated #布尔判断

- is.na()/!is.na() #缺/非缺失值
- na.rm=TRUE/FALSE #移除缺失值
- na.omit(lc) #忽略缺失值
- complete.cases() #完整值

In [2]:
mydata<-data.frame(A=runif(20,0,100),B=sample(LETTERS[1:5],20,replace=TRUE))
mydata

   A         B
1  48.964430 C
2  96.458661 E
3  33.056063 E
4  85.430767 E
5  10.718386 B
6  70.003469 C
7  69.906842 B
8  89.673138 E
9  87.181279 D
10 56.746370 A
11 51.649783 E
12 23.894648 C
13 21.168706 A
14  5.523194 E
15 98.769229 C
16 52.563539 B
17 87.668533 B
18 32.412403 B
19 44.865965 D
20 76.307705 E

In [4]:
mydata[sample(1:20,5,replace=FALSE),"A"]<-NA #人为构造5个缺失值
mydata

   A         B
1  48.964430 C
2         NA E
3  33.056063 E
4  85.430767 E
5         NA B
6         NA C
7  69.906842 B
8         NA E
9         NA D
10 56.746370 A
11        NA E
12 23.894648 C
13 21.168706 A
14  5.523194 E
15 98.769229 C
16 52.563539 B
17        NA B
18 32.412403 B
19 44.865965 D
20        NA E

In [5]:
#对含有重复值的向量进行去重
unique(mydata$B)

[1] C E B D A
Levels: A B C D E

In [6]:
#对含有重复值字段的数据框去重
dplyr::distinct(mydata,B)

  B
1 C
2 E
3 B
4 D
5 A

In [7]:
#返回重复对象的布尔值
duplicated(mydata$B)

 [1] FALSE FALSE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE
[13]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [8]:
#剔除重复值，仅保留唯一值
mydata[!duplicated(mydata$B),]

   A        B
1  48.96443 C
2        NA E
5        NA B
9        NA D
10 56.74637 A

In [13]:
A=LETTERS[1:10]
B=LETTERS[6:15]
A
B

#交集
intersect(A,B)

#补集
unique(A,B)

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J"

 [1] "F" "G" "H" "I" "J" "K" "L" "M" "N" "O"

[1] "F" "G" "H" "I" "J"

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J"

In [16]:
is.na(mydata)

!is.na(mydata)

      A     B
 [1,] FALSE FALSE
 [2,]  TRUE FALSE
 [3,] FALSE FALSE
 [4,] FALSE FALSE
 [5,]  TRUE FALSE
 [6,]  TRUE FALSE
 [7,] FALSE FALSE
 [8,]  TRUE FALSE
 [9,]  TRUE FALSE
[10,] FALSE FALSE
[11,]  TRUE FALSE
[12,] FALSE FALSE
[13,] FALSE FALSE
[14,] FALSE FALSE
[15,] FALSE FALSE
[16,] FALSE FALSE
[17,]  TRUE FALSE
[18,] FALSE FALSE
[19,] FALSE FALSE
[20,]  TRUE FALSE

      A     B
 [1,]  TRUE TRUE
 [2,] FALSE TRUE
 [3,]  TRUE TRUE
 [4,]  TRUE TRUE
 [5,] FALSE TRUE
 [6,] FALSE TRUE
 [7,]  TRUE TRUE
 [8,] FALSE TRUE
 [9,] FALSE TRUE
[10,]  TRUE TRUE
[11,] FALSE TRUE
[12,]  TRUE TRUE
[13,]  TRUE TRUE
[14,]  TRUE TRUE
[15,]  TRUE TRUE
[16,]  TRUE TRUE
[17,] FALSE TRUE
[18,]  TRUE TRUE
[19,]  TRUE TRUE
[20,] FALSE TRUE

In [18]:
mean(mydata$A,na.rm=TRUE)

sum(mydata$A,na.rm=TRUE)

[1] 47.77518

[1] 573.3022

In [19]:
#忽略缺失值所在行
na.omit(mydata)

   A         B
1  48.964430 C
3  33.056063 E
4  85.430767 E
7  69.906842 B
10 56.746370 A
12 23.894648 C
13 21.168706 A
14  5.523194 E
15 98.769229 C
16 52.563539 B
18 32.412403 B
19 44.865965 D

In [20]:
complete.cases(mydata) #完整值（返回布尔结果）

 [1]  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE  TRUE
[13]  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE FALSE

In [21]:
mydata[!complete.cases(mydata$A),] #使用该函数的布尔索引确定缺失值或排除缺失值

   A  B
2  NA E
5  NA B
6  NA C
8  NA E
9  NA D
11 NA E
17 NA B
20 NA E