In [1]:
#描述性统计：针对数值型

library("ggplot2")

myvars<-names(diamonds)[c(5,6,7)]
myvars

[1] "depth" "table" "price"

In [2]:
summary(diamonds[myvars])

     depth           table           price
 Min.   :43.00   Min.   :43.00   Min.   :  326
 1st Qu.:61.00   1st Qu.:56.00   1st Qu.:  950
 Median :61.80   Median :57.00   Median : 2401
 Mean   :61.75   Mean   :57.46   Mean   : 3933
 3rd Qu.:62.50   3rd Qu.:59.00   3rd Qu.: 5324
 Max.   :79.00   Max.   :95.00   Max.   :18823

In [3]:
mystats<-function(x,na.omit=FALSE){
    if(na.omit)
        x<-x[!is.na(x)]
    m<-mean(x)
    n<-length(x)
    s<-sd(x)
    skew<-sum((x-m)^3/s^3)/n
    kurt<-sum((x-m)^4/s^4)/n-3
    return(c(n=n,mean=m,stdev=s,skew=skew,kurtosis=kurt))
}
    
sapply(diamonds[myvars],mystats)

         depth         table        price
n         5.394000e+04 5.394000e+04 53940.000000
mean      6.174940e+01 5.745718e+01  3932.799722
stdev     1.432621e+00 2.234491e+00  3989.439738
skew     -8.228945e-02 7.968515e-01     1.618305
kurtosis  5.738447e+00 2.801271e+00     2.177191

In [10]:
#输出变量与观测值个数、缺失值与唯一值个数、均值与分位数、五个最大最小值
Hmisc::describe(diamonds[myvars])

diamonds[myvars]

 3  Variables      53940  Observations
--------------------------------------------------------------------------------
depth
       n  missing distinct     Info     Mean      Gmd      .05      .10
   53940        0      184    0.999    61.75    1.515     59.3     60.0
     .25      .50      .75      .90      .95
    61.0     61.8     62.5     63.3     63.8

lowest : 43.0 44.0 50.8 51.0 52.2, highest: 72.2 72.9 73.6 78.2 79.0
--------------------------------------------------------------------------------
table
       n  missing distinct     Info     Mean      Gmd      .05      .10
   53940        0      127     0.98    57.46    2.448       54       55
     .25      .50      .75      .90      .95
      56       57       59       60       61

lowest : 43.0 44.0 49.0 50.0 50.1, highest: 71.0 73.0 76.0 79.0 95.0
--------------------------------------------------------------------------------
price
       n  missing distinct     Info     Mean      Gmd      .05      .10
   53940        0    11602        1     3933     4012      544      646
     .25      .50      .75      .90      .95
     950     2401     5324     9821    13107

lowest :   326   327   334   335   336, highest: 18803 18804 18806 18818 18823
--------------------------------------------------------------------------------

In [15]:
#计算所有值、空值、缺失值数量，最大值、最小值、值域
# install.packages("pastecs")
# library(pastecs)
# stat.desc(diamonds[myvars])

In [17]:
#可以计算非缺失值的数量、平均值、标准差、中位数、截尾均值、绝对中位差、
#最小值、最大值、值域、偏度、峰度、平均值的标准误差
psych::describe(diamonds[myvars])

      vars n     mean       sd          median trimmed    mad        min max
depth 1    53940   61.74940    1.432621   61.8   61.78461    1.03782  43    79
table 2    53940   57.45718    2.234491   57.0   57.31835    1.48260  43    95
price 3    53940 3932.79972 3989.439738 2401.0 3158.99235 2475.94200 326 18823
      range skew        kurtosis se
depth    36 -0.08228945 5.738447  0.006168448
table    52  0.79685153 2.801271  0.009621063
price 18497  1.61830527 2.177191 17.177360816

In [18]:
#分组聚合并计算描述性统计量：
aggregate(.~cut,data=diamonds[,c("depth","table","price","cut")],FUN=mean)

  cut       depth    table    price
1 Fair      64.04168 59.05379 4358.758
2 Good      62.36588 58.69464 3928.864
3 Very Good 61.81828 57.95615 3981.760
4 Premium   61.26467 58.74610 4584.258
5 Ideal     61.70940 55.95167 3457.542

In [19]:
by(diamonds[myvars],diamonds$cut,function(x) sapply(x,mystats))

diamonds$cut: Fair
               depth       table       price
n        1610.000000 1610.000000 1610.000000
mean       64.041677   59.053789 4358.757764
stdev       3.643428    3.946261 3560.386612
skew       -1.170819    1.340626    1.780213
kurtosis    2.202072    4.831753    3.067175
------------------------------------------------------------
diamonds$cut: Good
                depth        table       price
n        4906.0000000 4906.0000000 4906.000000
mean       62.3658785   58.6946392 3928.864452
stdev       2.1693739    2.8512997 3681.589584
skew       -1.1961212    0.3054851    1.721943
kurtosis    0.1724617   -0.6444365    3.042550
------------------------------------------------------------
diamonds$cut: Very Good
                 depth        table        price
n        12082.0000000 1.208200e+04 12082.000000
mean        61.8182751 5.795615e+01  3981.759891
stdev        1.3786308 2.121448e+00  3935.862161
skew        -0.7075131 2.769068e-01     1.595341
kurtosis    -0.3014142 3.623741e-02     2.235873
------------------------------------------------------------
diamonds$cut: Premium
                 depth         table        price
n        13791.0000000 13791.0000000 13791.000000
mean        61.2646726    58.7460953  4584.257704
stdev        1.1588149     1.4785733  4349.204961
skew        -0.6108386    -0.3669732     1.333358
kurtosis    -0.3698431     1.3348994     1.072295
------------------------------------------------------------
diamonds$cut: Ideal
                 depth        table        price
n        21551.0000000 2.155100e+04 21551.000000
mean        61.7094010 5.595167e+01  3457.541970
stdev        0.7185386 1.246423e+00  3808.401172
skew        -1.4371123 2.018585e-01     1.835587
kurtosis    22.3324590 1.701293e+00     2.977425

In [25]:
# library(doBy)
# library(psych)

# summaryBy(mpg+hp+wt~am,data=mtcars,FUN=mystats)

#相比summaryBy，describeBy不允许指定任意函数
describeBy(diamonds[myvars],list(diamonds$cut))

 Descriptive statistics by group
: Fair
      vars    n    mean      sd median trimmed     mad min   max range  skew
depth    1 1610   64.04    3.64     65   64.48    1.33  43    79    36 -1.17
table    2 1610   59.05    3.95     58   58.64    2.97  49    95    46  1.34
price    3 1610 4358.76 3560.39   3282 3695.65 2183.13 337 18574 18237  1.78
      kurtosis    se
depth     2.20  0.09
table     4.83  0.10
price     3.07 88.73
------------------------------------------------------------
: Good
      vars    n    mean      sd median trimmed     mad   min   max   range
depth    1 4906   62.37    2.17   63.4   62.70    0.74  54.3    67    12.7
table    2 4906   58.69    2.85   58.0   58.57    2.97  51.0    66    15.0
price    3 4906 3928.86 3681.59 3050.5 3251.51 2853.26 327.0 18788 18461.0
       skew kurtosis    se
depth -1.20     0.17  0.03
table  0.31    -0.64  0.04
price  1.72     3.04 52.56
------------------------------------------------------------
: Very Good
      vars     n    mean      sd median trimmed     mad   min     max   range
depth    1 12082   61.82    1.38   62.1   61.95    1.48  56.8    64.9     8.1
table    2 12082   57.96    2.12   58.0   57.88    1.48  44.0    66.0    22.0
price    3 12082 3981.76 3935.86 2648.0 3243.22 2855.49 336.0 18818.0 18482.0
       skew kurtosis    se
depth -0.71    -0.30  0.01
table  0.28     0.04  0.02
price  1.60     2.24 35.81
------------------------------------------------------------
: Premium
      vars     n    mean      sd median trimmed     mad min   max range  skew
depth    1 13791   61.26    1.16   61.4   61.36    1.19  58    63     5 -0.61
table    2 13791   58.75    1.48   59.0   58.77    1.48  51    62    11 -0.37
price    3 13791 4584.26 4349.20 3185.0 3822.23 3371.43 326 18823 18497  1.33
      kurtosis    se
depth    -0.37  0.01
table     1.33  0.01
price     1.07 37.03
------------------------------------------------------------
: Ideal
      vars     n    mean      sd median trimmed     mad min     max   range
depth    1 21551   61.71    0.72   61.8   61.76    0.59  43    66.7    23.7
table    2 21551   55.95    1.25   56.0   55.97    1.48  43    63.0    20.0
price    3 21551 3457.54 3808.40 1810.0 2656.14 1630.86 326 18806.0 18480.0
       skew kurtosis    se
depth -1.44    22.33  0.00
table  0.20     1.70  0.01
price  1.84     2.98 25.94

### 列联表统计：针对类别型变量
- table():简单的频数统计表，输出列联表矩阵，等同于count函数
- xtabs():公式法输入，输出列联表
- prop.table():份数表示的列联表
- margin.table():添加边际和
- addmargins():将边际和放入表中
- ftable():创建紧凑型列联表

In [28]:
#一维列联表
mytable<-with(diamonds,table(cut))
mytable

cut
     Fair      Good Very Good   Premium     Ideal
     1610      4906     12082     13791     21551

In [30]:
prop.table(mytable)

cut
      Fair       Good  Very Good    Premium      Ideal
0.02984798 0.09095291 0.22398962 0.25567297 0.39953652